version: "3.8"

services:
  linkr-db:
    image: postgres:15
    container_name: linkr-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: linkr-app
    depends_on:
      - linkr-db
    env_file:
      - .env
    ports:
      - "3000:3000"
    command: npm start

volumes:
  postgres_data:
